<h1>Eat the burger</h1>

<h2>Create a new Burger</h2>
<form class="create-form">
    <div class="form-group">
        <label >Burgers</label>
        <input type="text" id="burger" name="burger_name">
          </div>

  <div class="form-group">
    <label for="sleepy">Sleepy?</label><br>
    <input type="radio" name="sleepy" value="1" checked> Sleepy!<br>
    <input type="radio" name="sleepy" value="0"> Awake
  </div>

  <button type="submit">Add Cat</button>
</form>
