
<div class="container">
<div class="card"  style="width: 35rem;">
  <div class="card-body">
    <h5 class="card-title">Eat the Burger</h5>
    <img src="/assets/img/sonic-burger.jpg" width="100px" class="card-img-top" alt="burger image">

    <div class="container">
      <div class="row">
        <div class="col-sm">
         <h4 >On the Menu</h4>    
            {{#each burgers}}
             
              {{this.burger_name}}
              <div>
                <form action="/api/burgers/{{this.id}}?_method=PUT" method="POST">
                  <button type="submit" >Devour</button>
                </form>
              </div>
              
            {{/each}}
          </div>
       
          <div class="col-sm">
            <h4 >No Longer Available</h4>
            {{#each burgers}}
              {{#if this.devoured}}
                {{this.burger_name}}
              {{/if}}
            {{/each}}
          </div>
      </div>
    </div>
    
    .............................................................
    <p class="card-text">
      <div class="form-group">
        <div>Add a new Burger to the menu!
        </div>
        <form action="/api/burgers" method="POST">
          <input type="text" id="name" name="burger_name" >
          <button type="submit" >Add The Burger</button>
        </form>
         
      </div>
     
    </p>
  </div>
  </div>
   

 





     

  

