li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}


h1 {
    font-family: verdana;
}

body {
    font-family: verdana;
 background-image: url("../img/burgerbg.jpg");
 background-repeat: no-repeat;
  background-size: 100%;
 background-color: #cccccc;
}
.container {
  opacity: 0.8;
  float: right;
}